.header-box {
    height: 250px;
    background-image: linear-gradient(to right, #574ae8, #3ea1db);
    padding: 0 60px;

    .header-top-spans {
        width: 100%;
        padding-top: 45px;
        display: flex;
        justify-content: space-between;
        
        span, a {
            color: #fff;
            font-family: 'Lexend Deca';
            font-size: 1.5rem;
            text-decoration: none;
        }

        & > div {
            display: flex;
            align-items: center;
            gap: 15px;

            & > a {
                padding: 3px;
                border-radius: 3px;
                border: none;
                font-size: 14px;
                font-weight: 600;
                background-color: #fff;
                box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
                transition-duration: 0.2s;
                color: #313131;

                &:hover {
                    background-color: darken($color: #fff, $amount: 3);
                    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);

                }
            }
        }
    }

    .header-search-box {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.main-box {
    padding: 30px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .not-found {
        width: 200px;
    }
}