.header-search {
    width: 100%;
    min-width: 235px;
    background-color: rgba($color: #fff, $alpha: 0.2);
    border-radius: 5px;
    display: flex;
    margin-top: 70px;
    padding: 5px;

    img {
        width: 34px;
        padding: 15px;
    }

    .search-box {
        width: 100%;
        border: none;
        background-color: transparent;
        color: #fff;
        font-size: 1.3rem;

        &::placeholder {
            color: #fff;
        }
    
        &:focus {
            outline: none;
        }
    }
}