.notices {
    width: 100%;
    min-width: 231px;
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);

    .notices-header {
        display: flex;
        justify-content: space-between;

        & > span {
            color: #b6b6b6;
            font-family: 'Lexend Deca';
        }
    }

    .notices-main {

        span {
            color: #313131;
            font-size: 26px;
            font-weight: 600;
        }

        p {
            color: #b6b6b6;
            font-size: 18px;
            font-weight: 500;
        }
    }
}